header {
  background-color: green;
  height: 50px;
}
header span {
  font-size: 30px;
  margin-right: 100px;
}

header select {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  width: 90%;
  margin: 0 auto;
  border: 1px solid blue;
}
.footer {
  background-color: lightcyan;
  display: flex;
  justify-content: center;
}
select {
  width: 177px;
}
select[name="workshopselection"] option {
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.required::after {
  content: "*";
  color: red;
  font-size: small;
}

input[type="submit"] {
  background-color: greenyellow;
  margin-right: 5px;
}

input[type="reset"] {
  background-color: greenyellow;
}
